
header
  height: 300px
  padding: 20px
  background: linear-gradient(326deg, #89edda, #e6f5f5)

  >div
    width: 100%
    max-width: 1450px
    margin: auto

    padding: 20px
    display: flex
    flex-direction: column
    justify-content: space-between
  h1
    font-size: 40px
    width: 30%
    text-transform: uppercase
  .topNav
    display: flex
    align-content: center
    justify-content: space-between
    ul
      display: flex
      text-decoration: none
      list-style: none
      gap: 15px
      li

main
  width: 100%
  max-width: 1200px
  margin: auto
  padding: 100px 30px

  .home_body
    display: flex
    flex-direction: column
    gap: 50px
    .card
      display: flex
      flex-direction: row
      gap: 30px
      justify-content: center
      align-items: center
      align-content: center
      &:nth-child(even)
        flex-direction: row-reverse

      .image
        width: 40%
      .content
        width: 50%

.events_page
  display: flex
  flex-direction: row
  justify-content: center
  gap: 20px

  .card
    position: relative
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    h2
      top: 50%
      width: 100%
      position: absolute
      font-size: 38px
      text-shadow: 1px 1px 20px black
      text-transform: uppercase
      text-align: center
      justify-content: center
      color: white
.cat_events
  width: 100%
  .content
    width: calc( 100% - (30px*3) )
    display: flex
    flex-direction: row
    justify-content: start
    flex-wrap: wrap
    gap: 20px
    .card
      display: flex
      flex-direction: column
      width: 30%
.event_card
  .email_registeration
    margin-top: 25px
    label
      display: flex
      font-size: 20px
      margin-top: 20px
      text-transform: uppercase
      margin-bottom: 10px
    input
      height: 40px
      min-width: 350px
      box-shadow: none
      border-radius: 5px
      border: 1px solid #ccc
      background-color: #45c5ae
    button
      height: 40px
      min-width: 100px
      margin-left: 10px
      background-color: #45c5ae
      text-transform: uppercase
      box-shadow: none
      border-radius: 5px
      border: 1px solid #8b9be4
      cursor: pointer
      &:hover
        background-color: #415ac5
        color: white
        border: 1px solid #8b9be4
